@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root{
    --cor-de-fundo: #EBEBEB;
    --font-cabeca-dados: 'Inter', sans-serif;
    --cor-corpo-titulos: #474747;
    --cor-corpo-secessao-blocos: #FFFFFF;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
} 
body{
    width: 360px;
    margin: auto;
    background-color:gray ;
}

main{
    background-color: var(--cor-de-fundo);
    margin: auto;
}